

.home-page{
     /* padding-top: 15em; */
     display: flex;
     height: 100vh;
     align-items: center;   
}


.skip {
    width: 100%;
    margin-bottom: 20px;
}

.text-holder_{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

.modal-modal-description{
}

.no-id2{
    margin-top: 2%;
    color: white !important;
    background-color: #030933 !important;
    width: 190px;
    /* padding: 3%; */
    border-radius: 50px;
    
    height: 50px;
    color: white;
    font-weight: bold;
    border-color: transparent;
}


.no-id{
    margin-top: 2%;
    color: white !important;
    background-color: #dc2626 !important;
    width: 190px;
    /* padding: 3%; */
    border-radius: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    border-color: transparent;
}

.MuiBox-root {
width: fit-content !important;
height: 300px;
padding: 5% !important;
align-content: center !important;

}


.logo-holder{
    place-content: center;
    display: flex;
    width: 50%;

}
.text-holder{
    /* background-color: red; */
    display: flex;
    padding-left: 10%;
    text-align: left;
    width: 100%;
    align-items: center;
    padding-right: 10%;
    flex-direction: column;
}
/* Tanker Regular */
.hello-text{
    letter-spacing: .01em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "WF Visual Sans", sans-serif, Tanker Regular;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.04;
}

.welcome-text {
    letter-spacing: .01em;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "WF Visual Sans", sans-serif, Tanker Regular;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.0;
}

.input-passcode{
    margin-top: 2%;
    height: 3em;
    border-radius: 14px;
    width: 50%;
}

.please-me-text {
    display: inline-block;
    width: 100%;
    padding: 0px 0px 0px 0px;
    color: inherit;
    letter-spacing: normal;
    line-height: 1.333;
    padding-top: 10px;
    margin-top: 17%;
    text-decoration: none;
}

.submit-btn{
    width: 25%;
    border: none;
    color: white;
    border-radius: 20px;
    background-color:#6200EE ;
    margin-top: 2%;
    height: 2.5em;
}

.submit-btn:hover{
    background-color: #3700B3;
    color: white;
}

.start-here{
    width: 190px;
    padding: 3%;
    border-radius: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    border-color: transparent;
    color: black;
    background-color: #03f3d5;
}




.print-me-area{
    background-color: rgb(236, 235, 235);
    display: flex;
    height: 100vh;
}