

.home-page{
     /* padding-top: 15em; */
     display: flex;
     height: 100vh;
     align-items: center;   
}


.skip{
    width: 50%;
}

.text-holder_{
    display: flex;
    flex-direction: column;
}


.logo-holder{
    width: fit-content;
}
.text-holder{
    /* background-color: red; */
    display: flex;
    padding-left: 10%;
    text-align: left;
    width: 100%;
    padding-right: 10%;
    flex-direction: column;
}
/* Tanker Regular */
.hello-text{
    letter-spacing: .01em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "WF Visual Sans", sans-serif, Tanker Regular;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.04;
}

.welcome-text{
    letter-spacing: .01em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "WF Visual Sans", sans-serif, Tanker Regular;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.0;
}

.input-passcode{
    margin-top: 2%;
    height: 3em;
    border-radius: 14px;
    width: 50%;
}

.please-me-text{
    display: inline-block;
    width: 100%;
    padding: 0px 0px 0px 0px;
    color: inherit;
    letter-spacing: normal;
    line-height: 1.333;
    text-decoration: none;
}

.submit-btn{
    width: 25%;
    border: none;
    color: white;
    border-radius: 20px;
    background-color:#6200EE ;
    margin-top: 2%;
    height: 2.5em;
}

.submit-btn:hover{
    background-color: #3700B3;
    color: white;
}

.print-me-area{
    background-color: rgb(236, 235, 235);
    display: flex;
    height: 100vh;
}