.user-image{
    width: 20%;
}

.card-holder{
    margin-top: 5%;
    place-items: center;
    display: flex;
    background-color: gray;
}

.card-holder:hover{
    cursor: pointer;
}

.card-right-side{
    margin-left: 5%;
}

.new-data-header{
    margin-left: 5%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card-data{

    margin: 5%;
}